<div class="container" style="max-height: 50vh; overflow-y: auto;" #chatBox>
    <div>
     @if(messages) {
        @for (message of messages; track message) {
            @if(esMensajeUsuarioActual(message)){

                <div class="container-mychat item">
                    <h6 class="item-chat center-align">{{formatearHora(message.date)}}</h6>
                    <h6 class="item-chat right-align">Yo dije: </h6>
                    <p class="item-chat right-align">{{ message.content }}</p>
                </div>    
            }
            @else {

                <div class="container-anotherchat item">
                    <h6 class="item-chat center-align">{{formatearHora(message.date)}}</h6>
                    <h6 class="item-chat left-align">{{ message.mail }} dijo: </h6>
                    <p class="item-chat left-align">{{ message.content }}</p>
                </div>   
            }
        }
    }
    </div>
</div>

<div class="container" style="display: flex;">

    <input style="flex: 1;" type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()" id="messageInput" class="input-chat" placeholder="Escribe un mensaje...">
    <button class="botonPeque item" style="float: right;" (click)="sendMessage()">Enviar</button>

</div>