<div class="banner">
    <div>
        <h4>{{title}}</h4>
    </div>

    <div class="centrado">
        <p id="mensajeError" style="color: red">{{alert}}</p>
    </div>
    <div class="centrado">
        <!-- <label class="item" for="mail">mail</label> -->
        <input [(ngModel)]="mail" placeholder="Correo" class="item" type="text" name="mail" id="mail" (keyup.enter)="buttonRegistrarse()">
    </div>

    <div class="centrado">
        <!-- <label  class="item" for="pass">Contraseña</label> -->
        <input  [(ngModel)]="pass" placeholder="Contraseña" class="item" type="password" name="pass" id="pass" (keyup.enter)="buttonRegistrarse()">
    </div>

    <div class="centrado">
        <button class="item botonPeque" (click)="buttonRegistrarse()">Registrarse</button>
    </div>
</div>