<div class="container">
    <div class="banner">
        <div class="centrado">
            <h4>{{title}}</h4>
        </div>
        
        <div class="centrado">
            <p class="mensajeError">{{alert}}</p>
        </div>
        <div class="centrado">
            <!-- <label class="item" for="mail">mail</label> -->
            <input [(ngModel)]="mail" placeholder="Correo" class="item" type="text" name="mail" id="mail" (keyup.enter)="buttonRegistrarse()">
        </div>
        
        <div class="centrado">
            <!-- <label  class="item" for="pass">Contraseña</label> -->
            <input  [(ngModel)]="pass" placeholder="Contraseña" class="item" type="password" name="pass" id="pass" (keyup.enter)="buttonRegistrarse()">
        </div>
        
        <div class="centrado">
            <button class="item botonPeque" (click)="buttonRegistrarse()">Registrarse</button>
        </div>
    </div>
</div>