<div class="banner">

    <div>
        <h4>{{title}}</h4>
    </div>

    <div class="centrado">
        <p id="mensajeError" style="color: red">{{alert}}</p>
    </div>
    <div class="centrado">
        <label class="item" for="correo">Correo</label>
        <input [(ngModel)]="mail" class="item" type="text" name="correo" id="correo">
    </div>
    <!-- <div class="centrado">
        <label class="item" for="usuario">Nombre de usuario</label>
        <input [(ngModel)]="username" class="item" type="text" name="usuario" id="usuario">
    </div> -->
    <div class="centrado">
        <label  class="item" for="pass">Contraseña</label>
        <input  [(ngModel)]="pass" class="item" type="password" name="pass" id="pass">
    </div>

    <!-- <div class="centrado">
        <button class="item botonNavegacion" (click)="onSubmit()">Registrarse</button>
    </div> -->
    <div class="centrado">
        <button class="item botonNavegacion" (click)="buttonRegistrarse()">Registrarse</button>
    </div>
</div>