@import '../../components/ahorcado/ahorcado.component.css';

.miMaletin
{
    background-color: #fff23ac2; 
    border: none; 
    border-radius: 25px;
    cursor: not-allowed; 
    transition: background-color 0.3s; 
    font-size: 28px; 
    box-shadow: 0px 4px 10px rgba(255, 0, 255, 0.4); 
    margin-inline: 10px; 
    font-family: 'beon'; 
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f, 0 0 70px #00f; 
    background-image: '../../../assets/img/suitcase.jpg';
}

.monto
{
    cursor: default;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f, 0 0 70px #00f; /* Efecto de resplandor */
    background-color: #ff00ff; 
    margin: 2px;
    padding: 10px;
    width: 110px;
    text-align: center;
}

/* Estilos básicos para el contenedor principal */
.contenedorPrincipal {
    display: flex;
    align-items: space-around;
    justify-content: center;
}

/* Estilos para cada columna */
.columna {
    display: flex;
    flex-direction: column;
}

.disabled {
    border-radius: 25px;
    cursor: default;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f, 0 0 70px #00f; /* Efecto de resplandor */
    background-color: #ff00ff; 
    margin: 2px;
    padding: 10px;
    width: 110px;
    text-align: center;
    background-color: #a5167a;
    color: #666666;
    text-shadow: none;
    cursor: not-allowed;
}

.oferta
{
    margin-top: 0%;
    margin-bottom: 0%;
}

#aceptarOferta:hover
{
    text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0, 0 0 50px #0f0, 0 0 60px #0f0, 0 0 70px #0f0;
}

#rechazarOferta:hover
{
    text-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 30px #f00, 0 0 40px #f00, 0 0 50px #f00, 0 0 60px #f00, 0 0 70px #f00;
}

/* 📱 En móviles, convertir filas en columnas */
@media (max-width: 768px) {
    .fila-teclas {
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }

    .botonNavegacion {
        width: 85px; /* Aumenta el tamaño en móviles */
        height: 60px;
        font-size: 20px;
        gap: 5px;
    }

    .maletines {
        display: flex;
        flex-direction:row;
        align-items: start;
        gap: 5px;
    }

    .disabled {
        margin: 2px;
        padding: 10px;
        width: 50px;
        text-align: center;
        font-size: 10px;
    }

    .monto
    {
        margin: 2px;
        padding: 10px;
        width: 50px;
        text-align: center;
    }

    .botonNavegacion {
        width: 85px; /* Aumenta el tamaño en móviles */
        height: 60px;
        font-size: 14px;
        gap: 5px;
    }
}