@import '../../app.component.css';

.botonNavegacion:disabled
{
    background-color: #a5167a;
    color: #666666;
    text-shadow: none;
    cursor: not-allowed;
}

.palabra {
    font-size: 40px;
    margin: 20px 0;
}

.fila-teclas button {
    margin: 2px;
    padding: 10px;
    width: 60px;
}

h1 {
    font-size: 20px;
}

img {
    width: 70%;
}

@media (min-width: 768px) {

    h1 {
        font-size: 40px;
    }

    .palabra {
        font-size: 80px;
    }

    img {
        width: auto;
    }
}