<div class="layout">
    <div class="banner">

        <div class="container">
            <div class="neon centrado">
                <h4 class="">Juegos</h4>
            </div>
            
            <div class="gameButtons">
                <button class="botonNavegacion" (click)="buttonAhorcado()"> Ahorcado </button>
                
                <button class="botonNavegacion" (click)="buttonMayorMenor()"> Mayor o menor </button>
                
                <button class="botonNavegacion" (click)="buttonTrivia()"> Trivia </button>
                
                <button class="botonNavegacion" (click)="buttonJuegoPropio()"> Trato hecho </button>
                
                <button class="botonNavegacion" (click)="buttonScoundrel()"> Scoundrel </button>
            </div>
        </div>
    </div>
        
    <div class="banner">

        <app-chat></app-chat>
        
    </div>
</div>