@import "../../app.component.css";

.layout {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.gameButtons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px) {
    .layout {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .container {
        min-width: 40vw;
        min-height: 61vh;
    }
}