<div>

    <div class="container">

        <div class="item">
            <button class="botonNavegacion" (click)="buttonAhorcado()"> Ahorcado </button>
        
            <button class="botonNavegacion" (click)="buttonMayorMenor()"> Mayor o menor </button>
            
            <button class="botonNavegacion" (click)="buttonPreguntados()"> Preguntados </button>
            
            <button class="botonNavegacion" (click)="buttonJuegoPropio()"> ??? </button>
        </div>

        <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Vel et, repellat, recusandae, nesciunt voluptas hic cum iusto minus odio quas suscipit eaque rerum pariatur consectetur maiores error optio molestiae deserunt. <br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.  <br>
            Numquam saepe ullam officia quibusdam, delectus itaque, odio magni necessitatibus facere deserunt accusamus fugiat, repellendus ratione illum! Quis asperiores in tempore facere! <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Vel et, repellat, recusandae, nesciunt voluptas hic cum iusto minus odio quas suscipit eaque rerum pariatur consectetur maiores error optio molestiae deserunt. <br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.  <br>
            Numquam saepe ullam officia quibusdam, delectus itaque, odio magni necessitatibus facere deserunt accusamus fugiat, repellendus ratione illum! Quis asperiores in tempore facere! <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Vel et, repellat, recusandae, nesciunt voluptas hic cum iusto minus odio quas suscipit eaque rerum pariatur consectetur maiores error optio molestiae deserunt. <br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.  <br>
            Numquam saepe ullam officia quibusdam, delectus itaque, odio magni necessitatibus facere deserunt accusamus fugiat, repellendus ratione illum! Quis asperiores in tempore facere! <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Vel et, repellat, recusandae, nesciunt voluptas hic cum iusto minus odio quas suscipit eaque rerum pariatur consectetur maiores error optio molestiae deserunt. <br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>
            Numquam saepe ullam officia quibusdam, delectus itaque, odio magni necessitatibus facere deserunt accusamus fugiat, repellendus ratione illum! Quis asperiores in tempore facere! <br>
        </p> -->
        <!-- <img src="../../../assets/img/logo.jpg" alt="me quede asi ira" style="padding: 50px;"> -->
    </div>
    <div class="item">
        <app-chat></app-chat>
    </div>

</div>