<main class="main">
  <div>
    <div class="banner" >
      <div class="centrado">         
        @if(authService.currentUserSig() != null)
        {
          <button class="botonNavegacion" (click)="buttonHome()">Home</button>
          <button class="botonNavegacion" (click)="buttonQuienSoy()">Quien soy?</button>
        }

        @if(authService.currentUserSig() == null)
        {
          <button class="botonNavegacion" (click)="buttonLogIn()">Iniciar Sesión</button>
          <button class="botonNavegacion" (click)="buttonRegistrar()">Crear Cuenta</button>
        }
      </div> 
  
      @if(authService.currentUserSig() != null)
      {
        <div class='neon centrado'> 
          <h4>{{usuario}}</h4> 
          <button class="item botonPeque" style="margin: 25px" (click)="buttonLogOut()">Cerrar sesión</button>
        </div>
      }
  
    </div>

    <div class="">
      
      <router-outlet/>
  
    </div>
  </div>
</main>