@font-face {
  font-family: 'beon';
  src:
      url(../assets/fonts/beon-webfont.ttf) format('truetype'),
      url(../assets/fonts/Beon.otf) format('opentype');
}

.main {
  background-image: url(../assets/img/background.jpg); 
  background-size:cover;
  min-height: 100vh;
  background-attachment: fixed;
  padding: 10px;
  margin: 0%;
}

.banner {
  background-color: rgba(58, 30, 83,0.2); 
  padding: 35px; 
}
  
h4 {
  color: #ffffff; 
  font-size: 24px; 
}

.neon {
  color: #00f; 
  text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f, 0 0 70px #00f; /* Efecto de resplandor */
  font-family: 'beon'; 
}

.neonEnlace {
  color: #00f;
  font-size: 18px;
  font-family: 'beon';
}

.neonEnlace:hover {
  color: rgb(255, 255, 255); 
  text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f, 0 0 70px #00f; /* Efecto de resplandor */
}

.centrado {
  display: flex; 
  justify-content: center; 
}

.container {
  background-color: rgba(218, 162, 255, 0.6); 
  padding: 15px; 
  margin: 15px;
  font-family:Arial, Helvetica, sans-serif; 
  text-shadow: 1px 1px 2px #ffffff; 
  text-shadow: 1px 1px 2px rgba(138,43,226); 
  color: rgba(138,43,226);
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.botonNavegacion {
  padding: 10px 20px;
  background-color: #ff00ffc2; 
  color: #00f; 
  border: none; 
  border-radius: 25px;
  cursor: pointer; 
  transition: background-color 0.3s; 
  font-size: 28px; 
  box-shadow: 0px 4px 10px rgba(255, 0, 255, 0.4); 
  margin-inline: 10px; 
  font-family: 'beon'; 
}

.item
{
  margin: 10px;
  padding: 10px;
}

.botonPeque {
  padding: 8px 16px; 
  font-size: 22px;
  background-color: #ff00ffc2; 
  color: #00f; 
  border: none; 
  border-radius: 25px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  box-shadow: 0px 4px 10px rgba(255, 0, 255, 0.4); 
  font-family: 'beon'; 
}


.botonPeque:hover {
  
  color: rgb(255, 255, 255); 
  text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f, 0 0 70px #00f; /* Efecto de resplandor */
  background-color: #ff00ff; 
}


.botonPeque.active {
  background-color: #cc00cc; 
}
  

.botonNavegacion:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f, 0 0 70px #00f; /* Efecto de resplandor */
  background-color: #ff00ff; 
}


.botonNavegacion.active {
  background-color: #cc00cc; 
}

.mensajeError {
  color: #ff0000; 
  font-size: 20px; 
  font-weight: bold; 
  text-align: center; 
  margin: 10px; 
}

