<main class="main">
  <div class="banner" >

    <div class="centrado"> 
      <!-- Para navegar por HTML -->
      <button routerLink='/home' class="botonNavegacion" (click)="buttonHome()">Home</button>
      <!-- Este lo navego por TS, ver función buttonQuienSoy() -->
      <button class="botonNavegacion" (click)="buttonQuienSoy()">Quien soy?</button>
      <!-- Para navegar por HTML -->
      <button routerLink='/login'  class="botonNavegacion" (click)="buttonLogIn()">Iniciar Sesión</button>
      <!-- Para navegar por HTML -->
      <button routerLink='/registrar'  class="botonNavegacion" (click)="buttonRegistrar()">Crear Cuenta</button>
    </div>

    <div class='neon centrado'> 
      <h4>{{test}}</h4>
    </div>

    <!-- npm install @angular/forms -->
    <div class="centrado"> 
      <input [(ngModel)]="test">
    </div>

  </div>

  <div class="container">
    
    <router-outlet />

  </div>
</main>

