<div class="banner">

    <div>
        <h4>{{title}}</h4>
    </div>

    <div class="centrado">
        <p id="mensajeError" style="color: red">{{alert}}</p>
    </div>
    <div class="centrado">
        <label class="item" for="correo">Correo</label>
        <input [(ngModel)]="usuario" class="item" type="text" name="correo" id="correo">
    </div>
    <div class="centrado">
        <label  class="item" for="pass">Contraseña</label>
        <input  [(ngModel)]="pass" class="item" type="password" name="pass" id="pass">
    </div>

    <div class="centrado">
        <button class="item botonNavegacion" (click)="buttonEntrar()">Entrar</button>
    </div>
</div>

<div class="banner centrado">
    <div>
        <h4>Cuentas Demo</h4>
        <button class="item botonNavegacion" (click)="buttonDemoUno()">
            Admin
        </button>
    
        <button class="item botonNavegacion" (click)="buttonDemoDos()">
            Bruma 😺
        </button>
    
        <button class="item botonNavegacion" (click)="buttonDemoTres()">
            Joel
        </button>
    </div>
</div>