<div class="banner">

    <div>
        <h4>{{title}}</h4>
    </div>

    <div class="centrado">
        <p id="mensajeError" style="color: red">{{alert}}</p>
    </div>
    <div class="centrado">
        <!-- <label class="item" for="mail">mail</label> -->
        <input [(ngModel)]="mail" placeholder="Correo" class="item" type="text" name="mail" id="mail">
    </div>

    <div class="centrado">
        <!-- <label  class="item" for="pass">Contraseña</label> -->
        <input  [(ngModel)]="pass" placeholder="Contraseña" class="item" type="password" name="pass" id="pass">
    </div>

    <div class="centrado">
        <button class="item botonPeque" (click)="buttonEntrar()">Entrar</button>
    </div>
</div>

<div class="banner centrado">
    <div>
        <h4>Cuentas Demo</h4>
        <button class="item botonPeque" (click)="buttonDemoUno()">
            Admin
        </button>
    
        <button class="item botonPeque" (click)="buttonDemoDos()">
            Bruma 😺
        </button>
    
        <button class="item botonPeque" (click)="buttonDemoTres()">
            Joel
        </button>
    </div>
</div>