<div class="container" style="display: flex;">

    <div>
        <h1>Sobre mí</h1>
        <p>Mi nombre es <strong>Joel Mahafud</strong>, tengo <strong>{{getEdad()}}</strong> años.
            Me gusta <strong>programar</strong> y <strong>aprender</strong>, así como cualquier actividad que desarrolle mi <strong>lógica</strong> y <strong>creatividad</strong>. 
            <br>
            Mis hobbies son los <strong>videojuegos</strong>, <strong>recitales</strong> y pasar tiempo en compañía de mi gata <strong>Bruma</strong>.
            <br>
            Me encuentro cursando las últimas materias de la carrera <strong>Tecnicatura Universitaria en Programación</strong> en la <strong>Facultad Regional Avellaneda</strong>
            de la <strong>UTN</strong>.
            <br>
            Además me desempeño como <strong>Administrador de sistemas</strong> desde hace algunos años.
        </p>
        <p>
            Tenés curiosidad por el código de este sitio? <br>Podés chusmearlo por <a class="neonEnlace" href="https://github.com/Joemafu/Laboratorio-IV-TP1.git" target="_blank">acá</a>
        </p>
    </div>

    <div>
        <img style="border-radius: 75%; padding: 50px;" alt="Joel" src="https://avatars.githubusercontent.com/u/52410521?v=4" width="260" height="260">
    </div>

</div>