<div class="container">
    <div>
        <h1>Sobre mí</h1>
        <p>Mi nombre es <strong>Joel Mahafud</strong>, tengo <strong>{{getEdad()}}</strong> años.
            Me gusta <strong>programar</strong> y <strong>aprender</strong>, así como cualquier actividad que desarrolle mi <strong>lógica</strong> y <strong>creatividad</strong>. 
            <br>
            Mis hobbies son los <strong>videojuegos</strong>, <strong>recitales</strong> y pasar tiempo con amigos o en compañía de mi gata <strong>Bruma</strong>.
            <br>
            En diciembre de 2024 me recibí de la <strong>Tecnicatura Universitaria en Programación</strong> en la <strong>Facultad Regional Avellaneda</strong>
            de la <strong>UTN</strong>.
            <br>
            Además me desempeño como <strong>Administrador de sistemas</strong> desde hace algunos años.
        </p>
        <p>
            Tenés curiosidad por el código de este proyecto? <br>Podés chusmearlo por <a class="neonEnlace" href="https://github.com/Joemafu/Laboratorio-IV-TP1.git" target="_blank">acá</a>
        </p>
        <p>
            El contenido de esta web corresponde a las consignas de <a class="neonEnlace" href="../../../assets/pdf/2024 TP Sala de Juegos.pdf" target="_blank">este Trabajo Práctico.</a> 
        </p>
    </div>

    <div>
        <img style="border-radius: 75%; padding: 50px;" alt="Joel" src="https://avatars.githubusercontent.com/u/52410521?v=4" width="260" height="260">
    </div>

</div>
<div class="container">
    <h2>
        El juego que elegí
    </h2>
    <p>
        El juego que elegí para este proyecto es <strong>Deal or no deal</strong>. Basado en un programa de televisión que luego llegaría a Argentina como <strong>Trato Hecho</strong> .
        <br>
        Consiste en elegir un maletín entre 26. Cada uno de éstos contienen un monto de dinero que va desde  1 centavo a un millón de dólares. Una vez seleccionado nuestro maletín, vamos a ir descartando 
        el resto de maletines y abriéndolos para ver su contenido.

        Cada cierta cantidad de maletines descartados, el banquero nos hará una oferta por nuestro maletín, basándose en las probabilidades de su contenido acorde a las opciones descartadas.
        Podemos aceptar la oferta y quedarnos con ese monto, seguir abriendo maletines para intentar lograr una mejor oferta, o finalmente quedarnos con el premio que contiene nuestra selección inicial.
    </p>
</div>